{% include 'header.html' %}
    <div class="about_me">
        <img class="about-me-photo" src="{{ about_me.user_photo }}" alt="" width="400px"/>
        <div class="about-me-content">
            <h2 class="title about-me-title">O mnie</h2>
            <p class="about-me-text">{{ about_me.user_content }}</p>
        </div>
    </div>
    <div class="background">
        <img src="images/backgrounds/about_me_bg.jpg" alt=""/>
    </div>
{% include 'footer.html' %}