{% include 'header.html' %}
    <div class="content-container">
        <h2 class="title">Panel administracyjny</h2>
        <div class="add-form">
            <button type="button" class="edit-btn btn"><a href="index.php?action=add_recipe">Dodaj przepis</a></button>
            <button type="button" class="edit-btn btn"><a href="index.php?action=add_product">Dodaj produkt</a></button>
            <button type="button" class="edit-btn btn"><a href="index.php?action=add_review">Dodaj recenzje</a></button>
        </div>
        <h3 class="admin-panel-subtitle">Statystyki</h3>
        <div class="admin-panel-content">
            <p class="admin-panel-text">Liczba zarejestrowanych użytkowników</p>
            <p class="admin-panel-text">{{ usersAmount }}</p>
        </div>
        <div class="admin-panel-content">
            <p class="admin-panel-text">Liczba postów z przepisami</p>
            <p class="admin-panel-text">{{ recipesAmount }}</p>
        </div>
        <div class="admin-panel-content">
            <p class="admin-panel-text">Liczba komentarzy pod przepisami</p>
            <p class="admin-panel-text">{{ recipeCommentsAmount }}</p>
        </div>
        <div class="admin-panel-content">
            <p class="admin-panel-text">Liczba postów z produktami</p>
            <p class="admin-panel-text">{{ productsAmount }}</p>
        </div>
        <div class="admin-panel-content">
            <p class="admin-panel-text">Liczba postów z recenzjami</p>
            <p class="admin-panel-text">{{ reviewsAmount }}</p>
        </div>
        <div class="admin-panel-content">
            <p class="admin-panel-text">Liczba komentarzy pod recenzjami</p>
            <p class="admin-panel-text">{{ reviewCommentsAmount }}</p>
        </div>
    </div>
{% include 'footer.html' %}
