{% include 'header.html' %}
<form class="edit-panel" action="index.php?action=save_product" method="POST">
    <input data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom" placeholder="nazwa produktu" type="text" name="product_name"/>
    <textarea class="ckeditor" name="editor"></textarea>
    <input type="hidden" name="id" value=""/>
</form>
{% include 'footer.html' %}