{% include 'header.html' %}
    <form class="edit-panel" action="index.php?action=save_review" method="POST">
        <input placeholder="nazwa restauracji" type="text" name="review_name"/>
        <input placeholder="miasto" type="text" name="review_city"/>
        <input placeholder="ścieżka do zdjęcia głównego" type="text" name="review_main_photo"/>
        <textarea class="ckeditor" name="editor"></textarea>
    </form>
{% include 'footer.html' %}