{% include 'header.html' %}
    <form class="edit-panel" action="index.php?action=save_recipe" method="POST">
        <input placeholder="nazwa dania" type="text" name="recipe_name"/>
        <input placeholder="kategoria" type="text" name="recipe_category"/>
        <input placeholder="ścieżka do zdjęcia głównego" type="text" name="recipe_main_photo"/>
        <textarea class="ckeditor" name="editor"></textarea>
    </form>
{% include 'footer.html' %}