{% include 'header.html' %}
    <div class="contact-content">
        <h2 class="title contact-title">Kontakt</h2>
        <p class="contact-info">serdecznie zapraszam Państwa do kontaktu ze mną pod adresem</p>
        <h4 class="contact-info">michal.szymanowski@interia.pl</h4>
        <p class="contact-info">oraz do odwiedzenia moich profili na portalach społecznościowych</p>
        <div class="social-media">
            <a class="contact-icon-fb" target="_blank" href="https://www.facebook.com/profile.php?id=100002137464001"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="contact-icon-insta" target="_blank" href="https://www.instagram.com/itadakimasu_pl/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="background">
        <img src="images/backgrounds/contact_bg.png"/>
    </div>
{% include 'footer.html' %}