{% include 'header.html' %}
    <form class="edit-panel" method="POST">
        <input placeholder="nazwa produktu" type="text" name="product_name" value="{{ product.product_name }}"/>
        <textarea class="ckeditor" name="product_edit">{{ product.product_content|raw }}</textarea>
        <input type="hidden" name="product_id" value="{{ product.product_id }}"/>
    </form>
{% include 'footer.html' %}