{% include 'header.html' %}
    <form class="edit-panel" method="POST">
        <input placeholder="nazwa restauracji" type="text" name="review_name" value="{{ review.review_name }}"/>
        <input placeholder="miasto" type="text" name="review_city" value="{{ review.review_city }}"/>
        <input placeholder="ścieżka do zdjęcia głównego" type="text" name="review_main_photo" value="{{ review.review_main_photo }}"/>
        <textarea class="ckeditor" name="review_edit">{{ review.review_content|raw }}</textarea>
        <input type="hidden" name="review_id" value="{{ review.review_id }}"/>
    </form>
{% include 'footer.html' %}