{% include 'header.html' %}
    <form class="edit-panel" method="POST">
        <input placeholder="nazwa dania" type="text" name="recipe_name" value="{{ recipe.recipe_name }}"/>
        <input placeholder="kategoria" type="text" name="recipe_category" value="{{ recipe.recipe_category }}"/>
        <input placeholder="ścieżka do zdjęcia głównego" type="text" name="recipe_main_photo" value="{{ recipe.recipe_main_photo }}"/>
        <textarea class="ckeditor" name="recipe_edit">{{ recipe.recipe_content|raw }}</textarea>
        <input type="hidden" name="recipe_id" value="{{ recipe.recipe_id }}"/>
    </form>
{% include 'footer.html' %}