{% include 'header.html' %}
    <div class="error-content">
        <h2>Strona o podanym adresie nie istnieje.</h2>
        <h2>ERROR: 404</h2>
    </div>
    <div class="background">
        <img src="images/backgrounds/error_bg.jpg" alt=""/>
    </div>
{% include 'footer.html' %}