    <footer>&copy; 2017 Itadakimasu. Wszelkie prawa zastrzeżone.</footer>
    <div class="modal fade" id="log-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel11">Logowanie</h4>
                </div>
                <div class="modal-body">
                    <div class="popup-login-form cos-log contentBorder wide">
                        <div id="log-errors" class="hidden"></div>
                        <form id="log-form" action="index.php?action=login" method="POST">
                            <input class="login-form-input log" type="text" placeholder="login" name="username" id="login-username" value=""><br>
                            <input class="login-form-input pass" type="password" placeholder="hasło" name="password" id="login-password" value=""><br><br>
                            <button id="log-submit" class="login-btn btn" type="submit">Zaloguj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reg-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Rejestracja</h4>
                </div>
                <div class="modal-body">
                    <div class="popup-register-form cos-reg contentBorder wide">
                        <div id="reg-errors" class="hidden"></div>
                        <form id="reg-form" action="index.php?action=register" method="POST">
                            <input type="text" name="username" id="reg-username" value="" placeholder="login"><br>
                            <input type="text" name="user_email" id="reg-user_email" value="" placeholder="e-mail"><br>
                            <input type="password" name="password" id="reg-password" placeholder="hasło"><br><br>
                            <button id="reg-submit" class="reg-btn btn" type="submit">Zarejestruj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>