<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Itadakimasu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" height="16" width="16"/>
    <link href="https://fonts.googleapis.com/css?family=Revalia" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Tillana&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-3.2.0.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/javascript.js" type="text/javascript"></script>
    <script src="ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav class="navbar {% if action=='homepage' %} navbar-pre-header {% else %} navbar-inverse {% endif %} navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php?action=homepage">Itadakimasu</a>
        </div>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav {% if action=='homepage' %} navbar-nav {% else %} navbar-nav navbar-nav-inside {% endif %} navbar-right  ">
                    <li><a href="index.php?action=about_me">O MNIE</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRZEPISY</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.php?action=recipes_menu&recipe_cat=pasta">DANIA Z MAKARONEM</a></li>
                            <li><a href="index.php?action=recipes_menu&recipe_cat=rice">DANIA Z RYŻEM</a></li>
                            <li><a href="index.php?action=recipes_menu&recipe_cat=salad">SAŁATKI</a></li>
                            <li><a href="index.php?action=recipes_menu&recipe_cat=sauce">SOSY</a></li>
                            <li><a href="index.php?action=recipes_menu&recipe_cat=soup">ZUPY</a></li>
                        </ul>
                    </li>
                    <li><a href="index.php?action=products_menu">PRODUKTY</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RECENZJE</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.php?action=reviews_menu&review_city=poznan">POZNAŃ</a></li>
                            <li><a href="index.php?action=reviews_menu&review_city=warszawa">WARSZAWA</a></li>
                            <li><a href="index.php?action=reviews_menu&review_city=wroclaw">WROCŁAW</a></li>
                        </ul>
                    </li>
                    <li><a href="index.php?action=contact">KONTAKT</a></li>
                    {% if username %}
                        {% if username == 'admin' %}
                            <li><a href="index.php?action=account">{{ username }}</a></li>
                        {% else %}
                            <li>{{ username }}</li>
                        {% endif %}
                    <li><a href="index.php?action=logout" class="logout" >WYLOGUJ</a></li>
                    {% else %}
                    <li type="button" class="popup-login-btn btn btn-primary btn-lg" data-toggle="modal" data-target="#log-myModal"><a href="#">LOGOWANIE</a></li>
                    <li type="button" class="popup-reg-btn btn btn-primary btn-lg" data-toggle="modal" data-target="#reg-myModal"><a href="#">REJESTRACJA</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>