{% include 'header.html' %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for recipe in homepage %}
        <div class="item">
            <div class="hp-news-info">
                <div class="hp-inner-box">
                    <h2>{{ recipe.recipe_name }}</h2>
                    <button type="button" class="hp-info-btn btn"><a href="index.php?action=recipe&recipe_id={{recipe.recipe_id}}">Czytaj dalej</a></button>
                </div>
            </div>
            <img src="{{ recipe.recipe_main_photo }}" alt="{{ recipe.recipe_title }}">
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% include 'footer.html' %}
