{% include 'header.html' %}
<div class="prod-list">
    <h2 class="title">Produkty kuchni azjatyckiej</h2>
    <form action="index.php?action=search_product" class="search-form" method="POST">
        <input class="search-input" placeholder="wyszukaj produkt" type="search" name="search">
        <input class="search-btn btn" type="submit" name="submit" value="Szukaj">
    </form>
    <ul class="products-list">
        {% for product in products_menu %}
        <li>
            <a href="index.php?action=product&product_id={{product.product_id}}">
                <div class="inner-recipeOnList">
                    <h3 class="list-menu">{{ product.product_name}}</h3>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination-elem">
        {% if limit_to > 1 %}
        <ul class="pagination pagination-sm">
            {% if current_page != 1 %}
            <li>
                <a href="index.php?action=products_menu&page={{ current_page -1}}">«</a>
            </li>
            {% endif %}
            {% for i in 1..limit_to %}
            <li {{ current_page == i ? 'class="active"' }}>
                <a href="index.php?action=products_menu&page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if current_page != limit_to %}
            <li>
                <a href="index.php?action=products_menu&page={{ current_page +1}}">»</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<div class="background prod">
    <img src="images/backgrounds/prod_bg.jpg" alt=""/>
</div>
{% include 'footer.html' %}