{% include 'header.html' %}
    <div class="content-container">
        {{ product.product_content|raw }}
    </div>
    <div class="bottom-icons">
        {% if username == 'admin' %}
        <a href="index.php?action=edit_product&product_id={{ product.product_id }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        <a href="#"><span class="glyphicon glyphicon-chevron-up back-to-top" aria-hidden="true"></span></a>
        <a href="index.php?action=delete_product&product_id={{ product.product_id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        {% else %}
        <a href="#"><span class="glyphicon glyphicon-chevron-up back-to-top" aria-hidden="true"></span></a>
        {% endif %}
    </div>
{% include 'footer.html' %}