{% include 'header.html' %}
<ul class="recipeOnList">
    {% for recipe in recipe_list %}
        <li>
            <a style="background-image:url({{ recipe.recipe_main_photo }}); background-size: 100% 100%;" href="index.php?action=recipe&recipe_id={{recipe.recipe_id}}">
                <div class="inner-recipeOnList">
                    <div class="inner-recipeOnList-title">
                        <h2 class="list-menu">{{ recipe.recipe_name}}</h2>
                        <h4 class="list-menu">{{ recipe.recipe_add_date }}</h4>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
{% include 'footer.html' %}