{% include 'header.html' %}
<ul class="recipeOnList">
    {% for review in review_list %}
    <li>
        <a style="background-image:url({{ review.review_main_photo }}); background-size: 100% 100%;" href="index.php?action=review&review_id={{review.review_id}}">
         <div class="inner-recipeOnList">
             <div class="inner-recipeOnList-title">
                 <h2 class="list-menu">{{ review.review_name}}</h2>
                 <h4 class="list-menu">{{ review.review_add_date }}</h4>
             </div>
         </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% include 'footer.html' %}