{% include 'header.html' %}
    <div class="content-container">
        {{ review.review_content|raw }}
        <div class="comments-window">
            <h3 class="comment-title">Komentarze</h3>
            {% if username %}
            <form action="index.php?action=add_review_comment" method="POST" class="comment-form">
                <input class="comment-input" type="text" placeholder="tutaj wpisz komentarz" name="comment"/><br>
                <input type="hidden" name="review_id" value="{{ review.review_id }}"/>
                <button type="submit" class="comment-btn btn">Dodaj komentarz</button>
            </form>
            {% else %}
            <h4 class="comment-title">Zaloguj się aby dodać komentarz.</h4>
            {% endif %}
            {% for comment in comments %}
            <div class="single-comment">
                <div class="comment-header">
                    <div class="comment-user">{{ comment.username }}</div>
                    <div class="comment-date">{{ comment.creation_date }}</div>
                </div>
                <div class="comment-text">{{ comment.comment }}
                    {% if username == 'admin' %}
                    <div class="delete-comment">
                        <a href="index.php?action=delete_review_comment&review_id={{ review.review_id }}&comment_id={{ comment.com_id }}"><span class="delete-comment-icon glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bottom-icons">
        {% if username == 'admin' %}
            <a href="index.php?action=edit_review&review_id={{ review.review_id }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
            <a href="#"><span class="glyphicon glyphicon-chevron-up back-to-top" aria-hidden="true"></span></a>
            <a href="index.php?action=delete_review&review_id={{ review.review_id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        {% else %}
            <a href="#"><span class="glyphicon glyphicon-chevron-up back-to-top" aria-hidden="true"></span></a>
        {% endif %}
    </div>
{% include 'footer.html' %}