html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    background-color: floralwhite;
}

header {
    margin-bottom: 58px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #9d9d9d;
    opacity: 0.5;
    color: #262626;
    text-align: center;
}

.bottom-icons {
    text-align: center;
    margin-bottom: 100px;
}

.glyphicon.glyphicon-chevron-up, .glyphicon.glyphicon-cog, .glyphicon.glyphicon-trash {
    font-size: 45px;
    color: #600e0e;
    cursor: pointer;
    margin: 0 20px;
}

ul.recipeOnList {
    width: 100%;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

ul.recipeOnList li {
    width: 50%;
    border: solid 1px #282828;
    float: left;
    height: 420px;
    line-height: 420px;
    text-align: center;
    list-style: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    font-family: 'Tillana', sans-serif;
}

ul.recipeOnList li .inner-recipeOnList {
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

ul.recipeOnList li .inner-recipeOnList .inner-recipeOnList-title h2.list-menu, h4.list-menu {
    margin-top: 10%;
    color: #600e0e!important;
    font-weight: bold;
    text-align: center!important;
}

ul.recipeOnList li .inner-recipeOnList .inner-recipeOnList-title h2.list-menu {
    font-size: 35px;
    padding-top: 10px;
}

ul.recipeOnList li .inner-recipeOnList .inner-recipeOnList-title h4.list-menu {
    font-size: 20px;
    padding-top: 5px;
}

.inner-recipeOnList-title {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
}

ul.recipeOnList li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 70px 0;
}

ul.recipeOnList li a:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.navbar-inverse {
    background-color: #600e0e;
}

.navbar-fixed-top {
    font-family: 'Revalia', cursive;
}

.dropdown-menu li a {
    color: #23222b!important;
}

.dropdown-menu {
    background-color: floralwhite;
    font-size: 11px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-right {
    margin-left: -15px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.navbar-header {
    float: none;
    text-align: center;
    padding-top: 10px;
}

.navbar-nav li a {
    color: #600e0e;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
}

.navbar-inverse .navbar-header .navbar-brand {
    float: none;
    font-size: 35px;
    line-height: 15px;
    color: floralwhite;
}

.navbar-pre-header .navbar-header .navbar-brand {
    float: none;
    font-size: 70px;
    line-height: 70px;
    color: floralwhite;
}

.navbar-right {
    float: none!important;
}

.navbar-nav>li {
    float: none;
    display: inline-block;
    font-size: 15px;
    padding: 0 20px;
    color: #600e0e;
    line-height: 30px;
}

.navbar-inverse .navbar-nav li {
    color: floralwhite;
    font-weight: bold;
    font-size: 11px!important;
}

.navbar-inverse .navbar-nav li a {
    color: floralwhite;
    font-weight: bold;
    font-size: 11px!important;
    padding: 0!important;
    margin: 1px 2px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #23222b;
}

.navbar-nav {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);
    height: 30px;
}

.navbar-nav-inside{
    background-color: #600e0e;
}

.main-name {
    margin: 0 auto;
}

.content-container {
    padding: 50px 150px 50px 150px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    color: #23222b;
}

.content-container img {
    width: 1000px;
    max-width: 100%;
    margin: 15px 0;
}

.content-container h2 {
    padding-bottom: 15px;
    font-family: 'Tillana', sans-serif;
    font-weight: bold;
}

.content-container h3, h4 {
    text-align: left!important;
    padding: 10px 0;
    font-family: 'Tillana', sans-serif;
    font-weight: bold;
    margin-top: 0!important;
    color: #23222b!important;
}

.content-container p {
    text-align: justify;
    padding: 15px 0;
    font-family: 'Tillana', sans-serif;
    font-size: 18px;
}

.content-container li {
    text-align: left;
    padding: 5px 0;
    font-family: 'Tillana', sans-serif;
    font-size: 16px;
}

.item img {
    width: 100%;
    background-size: 100% 100%;
}

.carousel {
    position: fixed;
    top: 0;
    width: 100%;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: floralwhite;
    top: 330px!important;
}

.item .hp-news-info .hp-inner-box {
    position: absolute;
    left: 50%;
    width: 700px;
    text-align: center;
    margin-left: -350px;
}

.hp-inner-box {
    top: 25%;
}

.item .hp-news-info .hp-inner-box h2, button.hp-info-btn {
    display: block;
    top: 50%;
    position: relative;
    left: 50%;
    width: 700px;
    text-align: center;
    margin-left: -350px;
    color: floralwhite;
    font-weight: bold;
    font-family: 'Tillana', sans-serif;
}

.item .hp-news-info h2 {
    font-size: 45px;
}

.item .hp-news-info button.hp-info-btn {
    width: 14%;
    margin: 0 auto 0 -7%;
    padding: 10px 0;
    background-color: floralwhite;
}

.item button.hp-info-btn:hover {
    background-color: antiquewhite;
}

a {
    color: #ac2925;
}

a:hover {
    color: #ac2925;
    text-decoration: none;
}

.btn {
    vertical-align: baseline;
}

.btn-primary a, .btn-primary:visited a {
    background-color: transparent;
    border-color: transparent;
    color: #ac2925;
}

.btn-primary, .btn-primary:hover, .btn-primary:active:hover {
    background-color: transparent;
    border-color: transparent;
    color: #ac2925;
}

.modal-dialog, .modal-content {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    top: 30%;
    background-color: floralwhite;
    border-radius: 15px;
}

.modal-title {
    font-family: 'Revalia', cursive;
    color: #ac2925;
    text-align: center;
}

.h5, h5 {
    font-size: 14px;
    font-family: 'Tillana', sans-serif;
}

button, input, select, textarea {
    font-family: 'Tillana', sans-serif;
    margin: 1px;
}

.login-btn.btn, .reg-btn.btn {
    width: 100px;
    margin: 0 auto;
    background-color: #600e0e;
    position: initial;
    color: floralwhite;
    font-weight: bold;
}

.edit-panel input, .search-form input.search-input {
    text-align: center;
    width: 250px;
    margin: 10px;
}

.edit-panel, .search-form, .add-form {
    text-align: center;
}

.search-btn {
    background-color: floralwhite;
    color: #600e0e;
    margin: 10px;
    font-weight: bold;
    border-color: #600e0e;
}

.search-btn:hover {
    background-color: #600e0e;
    color: floralwhite;
    border-color: floralwhite;
}

button.edit-btn.btn {
    width: 120px!important;
    background-color: #600e0e;
    margin: 10px;
    position: inherit;
}

button.edit-btn.btn a {
    color: floralwhite!important;
}

button.edit-btn.btn a:hover {
    color: #23222b!important;
    font-weight: bold!important;
}

h2.title {
    text-align: center;
    color: #23222b;
    font-weight: bold;
    font-family: 'Tillana', sans-serif;
    font-size: 40px;
    margin: 20px 20px;
}

.products-list li h3.list-menu {
    text-align: center!important;
    overflow: hidden;
    padding-right: 40px;
}

.products-list h3:hover {
    color: #ac2925!important;
}

.pagination-elem {
    text-align: center;
    margin-left: -150px;
}

.pagination.pagination-sm {
    position: absolute;
}

.pagination li a {
    padding: 0 20px;
    font-size: 20px;
    color: #600e0e;
}

.pagination li a:hover {
    color: #600e0e;
}

.pagination .active a {
    background-color: #600e0e;
    border-color: #600e0e;
    color: floralwhite!important;
}

.pagination>.active>a:hover {
    background-color: #ac2925;
    border-color: #ac2925;
}

h4.contact-info, p.contact-info {
    text-align: center!important;
    color: floralwhite!important;
    margin-top: 0!important;
    font-family: 'Tillana', sans-serif;
    font-size: 18px;
}

.social-media {
    text-align: center;
}

.contact-icon-fb, .contact-icon-insta {
    font-size: 80px;
    margin: 0 30px;
    color: floralwhite;
}

.contact-icon-fb:visited, .contact-icon-insta:visited {
    color: floralwhite;
}

.contact-icon-fb:hover, .contact-icon-insta:hover {
    font-size: 85px;
    color: #23222b;
}

.dropdown-menu li a {
    text-align: center;
}

#log-errors, #reg-errors {
    color: #600e0e;
    font-weight: bold;
    margin-bottom: 5px;
}

h3.admin-panel-subtitle {
    text-align: center!important;
    margin: 10px!important;
}

.admin-panel-content {
    width: 100%;
    height: 50px;
}

.admin-panel-text {
    font-family: 'Tillana', sans-serif;
    border-top: solid #ac2925 1px;
    float: left;
    padding: 0 20px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center!important;
    width: 50%;
}

.about_me {
    position: absolute;
    margin-top: 50px;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}

.about-me-photo, .about-me-content {
    float: left;
    margin: 0!important;
}

.about-me-content {
    background-color: rgba(96, 14, 14, 0.75);
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    color: floralwhite;
    height: 431px;
}

.title.about-me-title {
    width: 500px;
    margin-bottom: 20px!important;
    color: floralwhite;
    padding: 10px;
}

.about-me-photo {
    width: 400px!important;
    margin-right: 20px!important;
    border-radius: 20px;
}

.about-me-text {
    width: 540px;
    text-align: justify;
    font-family: 'Tillana', sans-serif;
    font-size: 18px;
}

.background {
    width: 100%;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.error-content {
    width: 700px;
    position: absolute;
    font-family: 'Tillana', sans-serif;
    font-weight: bold;
    color: floralwhite;
    background-color: rgba(96, 14, 14, 0.75);
    border-radius: 20px;
    left: 50%;
    margin-left: -350px;
    top: 35%;
}

.error-content h2, .prod-list h2 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: floralwhite;
}

.prod-list {
    margin-top: 50px;
    width: 700px;
    position: absolute;
    font-family: 'Tillana', sans-serif;
    background-color: rgba(96, 14, 14, 0.75);
    border-radius: 20px;
    left: 50%;
    margin-left: -350px;
}

.prod-list .list-menu {
    color: floralwhite!important;
    padding: 10px 0;
}

.contact-content {
    position: absolute;
    margin-top: 50px;
    width: 700px;
    height: 350px;
    left: 50%;
    margin-left: -350px;
    background-color: rgba(96, 14, 14, 0.75);
    border-radius: 20px;
    color: floralwhite;
}

.title.contact-title {
    color: floralwhite;
    padding: 10px;
}

.title.contact-title {
    color: floralwhite;
    padding: 10px;
}

div.comments-window {
    width: 70%;
    padding: 30px 0!important;
    text-align: left!important;
    font-family: 'Tillana', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

div.single-comment {
    margin: 10px 0;
}

div.comments-window h3.comment-title, h4.comment-title {
    text-align: center!important;
}

div.comments-window div.comment-user, div.comment-date {
    width: 50%;
    height: 25px;
    line-height: 25px;
    float: left;
    padding: 0 20px;!important;
    background: #600e0e;
    color: floralwhite;
}

div.comment-user {
    border-top-left-radius: 20px;
}

div.comment-date {
    text-align: right!important;
    border-top-right-radius: 20px;
}

div.comments-window div.comment-text {
    width: 100%;
    padding: 15px 20px;!important;
    text-align: left;
    display: table;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid #600e0e 2px;
    color: #600e0e;
}

.comment-form {
    text-align: center;
    margin-top: 20px;
}

.comment-input {
    width: 100%;
    min-height: 50px;
    border-radius: 20px;
    padding: 0 20px;
    border-color: #600e0e;
    outline: none;
}

.comment-btn {
    margin: 10px 0 15px 0;
    background-color: #600e0e!important;
    color: floralwhite;
    font-weight: bold;
}

.delete-comment {
    text-align: right!important;
    display: table-cell;
}

.delete-comment-icon {
    font-size: 20px!important;
}